* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}
body {
  min-height: 100vh;
  font-size: 62.5%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: #0082e6;
}
header .title {
  font-weight: bolder;
  font-size: 35px;
  color: #fff;
}
header .navbar ul {
  list-style: none;
}
header .navbar ul li {
  position: relative;
  float: left;
}
header .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: #fff;
  display: block;
  border-radius: 3px;
}
header .navbar ul li a:hover {
  background: #1b9bff;
  color: #ffffff;
  transition: 0.5;
}
header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: grey;
  display: none;
}
header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}
#menu-bar {
  display: none;
}
header label {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  display: none;
}
@media (max-width: 1224px) {
  header {
    padding: 20px;
  }
  header label {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #0082e6;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }
  header .navbar ul li {
    width: 100%;
  }
  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }
  header .navbar ul li ul li {
    background: grey;
  }
  #menu-bar:checked ~ .navbar {
    display: initial;
  }
}
